# Virtual environment
new_venv/
.env

# Bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variable files
.flaskenv
.env

# Configuration files
config.json

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
.DS_Store
