.info span
{
  font-weight: bold; 
  margin-right: 4px;
}

.left-side
{
    background-color: rgba(248, 247, 247, 0.838);
    padding: 20px 25px;
    border-radius: 10%;
}

.info p
{
    border: 2px solid rgba(181, 163, 159, 0.8);;
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
    padding-left: 15px;
    font-family: 'Cabin';
    color: #0e083e !important;
    font-weight: bold;
}

.info p span
{
    color: rgb(46, 7, 7);
    font-weight: bold;
    font-family: 'Cabin';
}

h3
{
    color: rgba(9, 65, 4, 0.9);
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}

body
{
    background-size: cover
}

img
{
    border: 11px solid rgba(25, 3, 65, 0.793);
}

.right-side
{
    overflow:scroll;
    height: 450px;
    border-radius: 10px;
    background-color: #f5f0f0;
    color: black;
    font-family: 'Cabin', sans-serif;
}

.posts .post-unit
{
    padding: 3px;
    background-color: #ededed;
    border-radius: 5px;
    padding: 5px;
    margin: 7px;
    margin-bottom: 15px
}

@media (min-width: 400px)  {
    img
    {
      margin-bottom: 20px;  
    }
  .col-md-5{
    margin-bottom: 20px;
  }
}