<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank</title>
    <link rel="icon" href="./static/images/giphy.gif">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css"> 
   
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="./static/css/open-iconic-bootstrap.min.css">
    

    <link rel="stylesheet" href="./static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./static/css/magnific-popup.css">

    <link rel="stylesheet" href="./static/css/aos.css">

    <link rel="stylesheet" href="./static/css/ionicons.min.css">

    <link rel="stylesheet" href="./static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="./static/css/jquery.timepicker.css">


    <link rel="stylesheet" href="./static/css/flaticon.css">

    <link rel="stylesheet" href="./static/css/icomoon.css"> 
    <!-- important-->
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/animate.css">
    
</head>

<body>
  
    {% if message %}
<!-- The Modal -->
   <div class="modal fade" id="myModal">
       <div class="modal-dialog" >
       <div class="modal-content" style="background-color:#fff3cd;border-color:#ffeeba;">
   
           <!-- Modal Header -->
           <div class="modal-header">
           <h4 class="modal-title " style="color: #856404; margin :auto auto !important; font-family:'Times New Roman', Times, serif">{{message}}</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
   
       </div>
       </div>
   </div>
{% endif %}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"> Blood Bank <i class="icon-heart" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="profile" class="nav-link"><span>Profile</span></a></li>

                    {% if usr %}
                    <li class="nav-link"><a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" style="color: rgb(103, 3, 3);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{usr.first_name}} </a>
                        
                          <ul class="dropdown-menu" style="left: auto" >
                          <li><a class="dropdown-item" href="profile">Profile</a></li>
                          <li><a class="dropdown-item" href="#">MY Details</a></li>
                          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                          </ul> 
                     </li> 

                    {% else %}

                    <li class="nav-item"><a href="login" class="nav-link"><span>Login</span></a></li>
                    <li class="nav-item"><a href="register" class="nav-link"><span>SignUp</span></a></li>
                    {% endif %}
                    &nbsp &nbsp &nbsp 
                
                            
                     <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                           <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li><a href="#" > <span class="material-symbols-outlined" style="color:#47fe0a">dark_mode</span></a></li>
                          </ul>
                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <!-- <div class="js-fullheight"> -->
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <strong> Save Lives </strong></h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        {% if usr %}
                        <a href="#" class="btn btn-primary btn-outline-white px-5 py-3">Explore {{usr.first_name}}</a></p>
                        {% else %}
                        <a href="register" class="btn btn-primary btn-outline-white px-5 py-3">Register Me</a></p>
                        {% endif %}

                </div>
            </div>
        </div>
    </div>
    <svg class="wave-svg" style="background:linear-gradient(-90deg, #f0ede4 0%, #f39e8b 100%);" width="100%" height="150" viewBox="0 0 110 120" preserveAspectRatio="none">
        <path id="wavepath" d="M0,0  L110,0C35,150 35,0 0,100z" fill="#8d0008" opacity=0.98 ></path>
           </svg>
  
<!--      *****************************************************************      -->
<!--  -------------------------------- OUR SERVICES  ---------------------------------------->


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-6 text-center heading-section ftco-animate">
                    {% if usr %}<h2>welcome</h2><h4><strong>🩸{{usr.first_name}}🩸 </strong></h4>{% endif %}
                    <span class="subheading">Our Services</span>
                    <h2 class="mb-4">Clean blood money to become a stronger society</h2>
                    <p>By donating blood you can save someone’s life! Donate today!
                      
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">

                            <img src="./static/images/blood-plus.svg" alt="">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">What we do ?</h3>
                            <p>We connect blood donors with recipients, without any intermediary such as blood banks, for an efficient and seamless process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="./static/images/global-health.svg" alt="">

                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Network</h3>
                            <p>Savelife is one of several community organizations working together as a network that responds to emergencies in an efficient manner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="./static/images/save.svg" alt="">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Innovative</h3>
                            <p>Savelife is one of several community organizations working together as a network that responds to emergencies in an efficient manner.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="static/images/free.svg" alt="">


                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Save Life</h3>
                            <p>We are a non profit foundation and our main objective is to make sure that everything is done to protect vulnerable persons. Help us by making a gift !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***************************##our servide end ### ***************************-->


    <!-- *************************** Newsletter section ***************************-->
    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe to our Newsletter</h2>
                        <p>Far far away, behind the word mountains, far from the countries India and Nepal, there live the blind texts. Separated they live in</p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-6">
                                <form action="/newsletter" method="POST" class="subscribe-form">
                                    <div class="form-group">
                                        <span class="icon icon-paper-plane"></span>
                                        
                                        
                                       
                                             {% if usr %}
                                             <input type="text" class="form-control" placeholder={{usr.email}} name="newsletter_email">
                                          <div class="container-login100-form-btn pt-2" ></div>
                                           <button class="login100-form-btn btn btn-primary" type="submit" >
                                                Subscribe
                                            </button>
                                           </div>
                                            {% else %}
                                            <input type="text" class="form-control" placeholder="Enter email address">
                                            <div class="container-login100-form-btn pt-2" >
                                            <button class="login100-form-btn btn btn-primary" type="button"  >

                                            <li class="login100-form-btn btn btn-primary" style="background-color: #f8d7da;"><a href="newsletter"><span>Subscribe</span></a></li>
         
                                            </button>
                                         </div>
                                            {% endif %}
                                       
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- *************************** Newsletter section end ## ***************************-->

    <!-- ..................................................... -->
    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Works</span>
                    <h2 class="mb-4">What is this all about ?.</h2>
                    <p>We solve the problem of blood emergencies by connecting blood donors directly with people in blood need.</p>
                </div>
            </div>
            <div class="row">
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">


                    <a href="portfolio" class="image" style="background-image: url('https://res.cloudinary.com/dktp1ybbx/image/upload/f_auto,fl_lossy,q_auto/v1627670292/organization/prod/718913/HtOSngPI2x.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>

                    <div class="text">
                        <h4 class="subheading">Illustration</h4>
                        <h2 class="heading"><a href="portfolio">Volunteers are the real heroes</a></h2>
                        <p>
                            We depend on volunteers! Volunteers make up 96% of our total workforce and carry on our humanitarian work. Blood donation is healthy, our volunteers are available 24/7 to help and donate blood. Blood banks store blood bags but our volunteers are there
                            with you in an emergency for a blood transfusion real time. Donating blood or platelets can be intimidating and even scary for many people. Time to put those hesitations and fears aside. Learn from Savelife Connect blood and
                            platelet donors how simple and easy it is to roll up a sleeve and help save lives.</p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">

                    <a href="portfolio.html" class="image image-2 order-2" style="background-image: url('https://nationaltoday.com/wp-content/uploads/2021/12/National-Volunteer-Blood-Donor-Month-1-1200x834.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text order-1">
                        <h4 class="subheading">about our volenter</h4>
                        <h2 class="heading"><a href="portfolio.html">Have you given blood before?</a></h2>
                        <p>Sometimes we prioritise appointments for regular donors. As we know their blood type, this helps us collect the right amount of each blood type to meet demand.</p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">

                    <a href="portfolio.html" class="image" style="background-image: url('https://images.pexels.com/photos/4531306/pexels-photo-4531306.jpeg?cs=srgb&dl=pexels-charliehelen-robinson-4531306.jpg&fm=jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text">
                        <h4 class="subheading"> test your blood</h4>
                        <h2 class="heading"><a href="portfolio.html">Your blood type</a></h2>
                        <p>There are more appointments for donors with blood types that people often need, such as O negative. On the other hand, there are fewer appointments for blood types where demand is lower, such as AB positive.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Our achievements</h2>
                    <p> Blood Bank </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="400">0</strong>
                            <span>Saved Souls</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="1000">0</strong>
                            <span>Donors</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="8">0</strong>
                            <span>Branchs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- 88*********************************# Blog #************************************-->
    <section class="ftco-section ">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Blog</span>
                    <h2>Where to Donate Blood</h2>
                    <p> we need hundreds of blood donations every day.By donating blood you can save someone’s life! Donate today!</p>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">

                        <a href="blog-single.html" class="block-20" style="background-image: url('https://media.istockphoto.com/id/1028869800/photo/close-up-of-a-hands-of-a-businessman-on-a-keyboard.webp?b=1&s=170667a&w=0&k=20&c=5LT6THWXVPEuxMu2fWJzzrVXrhkXdtKwcpxWLoXNWZo=');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">July 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading"><a href="#">  contact us in soial midea </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry" data-aos-delay="100">

                        <a href="blog-single.html" class="block-20" style="background-image: url('https://www.sixsigmahospital.com/wp-content/uploads/2018/05/Umbilical-Cord-Blood-Storage.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="meta mb-3">
                                <div><a href="#">July 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading"><a href="#">visit us </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry" data-aos-delay="100">

                        <a href="blog-single.html" class="block-20" style="background-image: url('https://www.vmcdn.ca/f/files/glaciermedia/import/lmp-all/411231-115577520.jpg');">
                        </a>
                        <div class="text p-4">
                            <div class="meta mb-3">
                                <div><a href="#">July 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading"><a href="#">find our vans in all cities</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  FOOTER ---------------------------------------------------------------->
    <!--------------------------------------------------  FOOTER ---------------------------------------------------------------->
    
   <footer class="ftco-footer ftco-bg-dark ftco-section">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Blood Bank <i class="icon-heart" aria-hidden="true"></i></h2>
                    <p>We solve the problem of blood emergencies by connecting blood donors directly with people in blood need.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-5">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="/" class="py-2 d-block">Home</a></li>
                        <li><a href="" class="py-2 d-block">Donate Blood</a></li>
                        <li><a href="" class="py-2 d-block">Request Blood</a></li>
                        <li><a href="contact" class="py-2 d-block">Contact</a></li>
                        <li><a href="profile" class="py-2 d-block">Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block"></a></li>
                        <li><a href="#" class="py-2 d-block">+91 9939984694</a></li>
                        <li><a href="#" class="py-2 d-block">bloodbank@gmail.com</a></li>
                        <li><a href="#" class="py-2 d-block">bloodbank@yahoo.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                      
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">


            </div>
        </div>
    </div>
    <hr>
        <div class="row text-center"><a href="/" style="color: #fff;">Copyright 2023. All Rights Reserved.</a></div>
</footer>
    <!-- END FOOTER ---------------------------------------------------------------->


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>


    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/jquery.easing.1.3.js"></script>
    <script src="./static/js/jquery.waypoints.min.js"></script>
    <script src="./static/js/jquery.stellar.min.js"></script>
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/jquery.magnific-popup.min.js"></script>
    <script src="./static/js/aos.js"></script>
    <script src="./static/js/jquery.animateNumber.min.js"></script>
    <script src="./static/js/bootstrap-datepicker.js"></script>
    <script src="./static/js/jquery.timepicker.min.js"></script>
    <script src="./static/js/particles.min.js"></script>
    <script src="./static/js/particle.js"></script>
    <script src="./static/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="./static/js/google-map.js"></script>
    <script src="./static/js/main.js"></script>
    

</body>

</html>
