<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.7/socket.io.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <input id="message_input" autocomplete="off" /><button onclick="sendMessage()">Send</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(message) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(message));
            ul.appendChild(li);
        });

        function sendMessage() {
            var message = document.getElementById('message_input').value;
            socket.emit('message', message);
            document.getElementById('message_input').value = '';
        }
    </script>
</body>
</html>
